* {
  padding: 0px;
  margin: 0px;
  max-width: 1440px;
  box-sizing: border-box;
}
.App {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: url("https://res.cloudinary.com/dwxv6xoni/image/upload/q_auto:good/f_auto/v1674122161/Sinachpat/background_ga1qlz.png"), #000313;
  background-repeat: repeat-y;
  background-position: center;
}
