* {
  padding: 0px;
  margin: 0px;
  max-width: 1440px;
  box-sizing: border-box;
}
.App {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
}
